.startButton {
    margin:auto;
}

body {
    margin: 0px;
}

.homePageImages {
    display: flex;
    gap: 50px;
}

.homePageDescription {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    width: 400px;
    text-align: center;
    gap: 15px;
    margin: 15px;
    margin-top: 45px;
}

.homePageFlexContainer {
    margin: 10px;    
}

.homePageFlexContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vh;
    max-height: 100vh;
    overflow: hidden;
    margin: auto;
}

.homePageCharacterImage {
    display: flex;
    flex-direction: column;
    height: 200px ;
    /* height: auto; */
}

.GameImage {
    width: 100vw;
}

.headerFlexContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: white;
    width: 100vw;
}

.headerImageChild {
    border: 2px solid black;
    border-radius: 7px;
    padding: 5px;
}

.clicked {
    background-color: green;
}

.headerCharacterImage {
    height: 50px;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.parentDiv {
    position: relative;
    min-height: 100vh;
}

.clickMenuImgsContainer {
    position: absolute;
    z-index: 5;
}

.finalPage {
    margin: 10px;
}

.finalPageSection {
    margin: 10px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 3px;
}
